fastapi
uvicorn[standard]
requests
numpy
cachetools
groq 
yfinance
PyPDF2 
sentence-transformers 
faiss-cpu
opencv-python 
pytesseract 
PyMuPDF
Pillow
python-dotenv
rank_bm25
joblib
tabulate
google-generativeai
duckduckgo-search
